<div id="sinceModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden">
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-96">
        <h2 class="text-xl font-bold mb-4">Edit Since</h2>
        <form id="sinceForm" method="POST" action="/update_since">
            <input type="hidden" name="csrf_token" id="csrf_token"/>
            <input type="hidden" name="since_id" id="sinceId">
                <label for="sinceName" class="block text-sm font-medium text-gray-200">Since Name</label>
                <input type="text" id="sinceName" name="since_name"
                       class="mt-1 block w-full bg-gray-900 border border-gray-600 rounded-lg p-2 text-gray-100">

            <div class="mb-4">
                <label for="sinceEvent" class="block text-sm font-medium text-gray-200">Event Date & Time</label>
                <input type="datetime-local" id="sinceEvent" name="since_event"
                       class="mt-1 block w-full bg-gray-900 border border-gray-600 rounded-lg p-2 text-gray-100">
            </div>
            <div class="flex justify-end">
                <button type="button" class="text-gray-400 mr-4" onclick="closeModal()">Cancel</button>
                <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
<div class="bg-gray-800 rounded-lg shadow-lg p-4 cursor-pointer" onclick="openModal(
    '{{ since.id }}',
    '{{ since.name.replace("'", "\\'") }}',
    '{{ since.event.isoformat() }}'
    )">
    <h3 class="text-lg font-bold mb-1">{{ since.name }}</h3>
    <p class="text-gray-400 mb-2 text-sm">Event: {{ since.event.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    <div class="text-base font-semibold" data-event="{{ since.event.isoformat() }}">
        {% if since.days > 0 %}
        <span class="days">{{ since.days }} Days</span>{% if since.hours > 0 or since.minutes > 0 %}, {% endif %}
        {% endif %}
        {% if since.hours > 0 %}
        <span class="hours">{{ since.hours }} Hours</span>{% if since.minutes > 0 %}, {% endif %}
        {% endif %}
        {% if since.minutes > 0 %}
        <span class="minutes">{{ since.minutes }} Minutes</span>
        {% endif %}
    </div>
</div>
