<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Wagers</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-900 text-gray-100 flex justify-center items-center min-h-screen">

<div class="container mx-auto p-2">
    {% for team_name, wagers in team_wagers.items() %}
    <div class="mb-4">
        <h2 class="text-xl font-bold mb-2">{{ team_name }}</h2>
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {% for wager in wagers %}
            {% include 'wagercard.html' %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>